body, html
{
  width:100%;
  height:100%;
  margin:0;
  display: table;
  text-align: center;
  font-family: "Microsoft YaHei" ! important;
}


.wrapper
{
  margin-top:100px;
  vertical-align: middle;
  position: relative;
}

.background-circle
{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #9AA6D7 none repeat scroll 0% 0%;
  position: relative;
}


.body{
  width: 285px;
  height: 600px;
  margin: 0 auto;
  background: #D47676;
  border-radius: 100px;
  position: relative;
  top: 200px;
  z-index: 0;
}

.head
{
  width: 196px;
  height: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -210px;
  margin-left: -98px;
  -webkit-animation:head_shake 1s 0s infinite alternate ease-in-out;
  -moz-animation:head_shake 1s 0s infinite alternate ease-in-out;
  -ms-animation:head_shake 1s 0s infinite alternate ease-in-out;
  -o-animation:head_shake 1s 0s infinite alternate ease-in-out;
  animation:head_shake 1s 0s infinite alternate ease-in-out;
  -webkit-transform-origin: center bottom 0px;
  -moz-transform-origin: center bottom 0px;
  -ms-transform-origin: center bottom 0px;
  -o-transform-origin: center bottom 0px;
  transform-origin:center bottom 0px;
}

.hair
{
	width: 250px;
	height: 280px;
	background: #000 none repeat scroll 0% 0%;
	position: absolute;
	border-radius: 150px 150px 50px 50px;
	left: -28px;
	top: -15px;
	z-index: 8;
}

.face
{
	width: 180px;
	height: 200px;
	position: absolute;
	background: #FFE4BE none repeat scroll 0% 0%;
	top: 70px;
	border-radius: 75px 78px 100px 100px;
	left: 7px;
	z-index: 10;
	}

.hair_up_left
{
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 150px solid rgb(0, 0, 0);
	position: absolute;
	z-index: 15;
	left: 90px;

	-webkit-transform-origin: 0px 0px 0px;
	-moz-transform-origin: 0px 0px 0px;
	-ms-transform-origin: 0px 0px 0px;
	-o-transform-origin: 0px 0px 0px;

	transform-origin: 0px 0px 0px;
	-webkit-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);

	top: 27px;
}

.hair_up_right
{
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent;
	border-right: 83px solid transparent;
	border-bottom: 150px solid #000;

	z-index: 15;
	position: absolute;
	left: 200px;
	top: 127px;

	-webkit-transform-origin: 0px 0px 0px;
	-moz-transform-origin: 0px 0px 0px;
	-ms-transform-origin: 0px 0px 0px;
	-o-transform-origin: 0px 0px 0px;
	transform-origin: 0px 0px 0px;

	-webkit-transform: rotate(500deg);
	-ms-transform: rotate(500deg);
	-o-transform: rotate(500deg);
	transform: rotate(500deg);


}

.mouth_one
{
	width: 85px;
	height: 50px;
	position: absolute;
	border-radius: 0px 0px 50px 50px;
	webkit-transform-origin: 0px 0px 0px;
	-moz-transform-origin: 0px 0px 0px;
	-ms-transform-origin: 0px 0px 0px;
	-o-transform-origin: 0px 0px 0px;
	transform-origin: 0px 0px 0px;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	left: 56px;
	top: 195px;
	z-index: 15;
	background-color: #E09393;
	opacity: 1;
}

.mouth_two
{
	width: 80px;
	height: 70px;
	position: absolute;
	border-radius: 10px;
	left: 56px;
	top: 195px;
	z-index: 18;
	background-color: #E09393;
	opacity: 0;
}
.mouth_three
{
	width: 100px;
	height: 100px;
	border-bottom: 3px solid #000;
	border-radius: 1500px;
	position: absolute;
	z-index: 17;
	top: 125px;
	left: 47px;
	opacity: 0;

 }
.eye_left
{
	width: 20px;
	height: 30px;
	border-radius: 10px;
	background-color: #112439;
	position: absolute;
	z-index: 15;
	left: 50px;
	top: 140px;
}

.eye_right
{
	width: 20px;
	height: 30px;
	border-radius: 10px;
	background-color: #112439;
	position: absolute;
	z-index: 15;
	left: 120px;
	top: 140px;
}

.eye_inner
{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #fff;
	position: relative;
	z-index: 16;
}

.eyebrow_left
{
	width: 40px;
	height: 8px;
	background: #0C0C0C none repeat scroll 0% 0%;
	position: absolute;
	z-index: 16;
	left: 40px;
	top: 120px;
}

.eyebrow_right
{
	width: 40px;
	height: 8px;
	background: #0C0C0C none repeat scroll 0% 0%;
	position: absolute;
	z-index: 16;
	left: 110px;
	top: 120px;
	-webkit-animation:eyebrow_raise 1s 1s infinite alternate ease-in-out;
  	-moz-animation:eyebrow_raise 1s 1s infinite alternate ease-in-out;
  	-ms-animation:eyebrow_raise 1s 1s infinite alternate ease-in-out;
  	-o-animation:eyebrow_raise 1s 1s infinite alternate ease-in-out;
  	animation:eyebrow_raise 1s 1s infinite alternate ease-in-out;
}

.note{
  position: absolute;
  font-size: 70px;
  color: #878AAA;
  width: 1px;
  left: 50%;
  opacity: 0;
}
.note#one{
  margin-left: -250px;
  top: 50%;
  -webkit-animation:note-anim 2s 2s infinite ease;
  -moz-animation:note-anim 2s 2s infinite ease;
  -ms-animation:note-anim 2s 2s infinite ease;
  -o-animation:note-anim 2s 2s infinite ease;
  animation: note-anim 2s 2s infinite ease;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;2
}
.note#two{
  margin-left: 150px;
  top: 30%;
  -webkit-animation:note-anim 2s 3s infinite ease;
  -moz-animation:note-anim 2s 3s infinite ease;
  -ms-animation:note-anim 2s 3s infinite ease;
  -o-animation:note-anim 2s 3s infinite ease;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes note-anim
{
0% {
  opacity: 0;
  -webkit-transform: translate(0px,50px);
  transform: translate(0px,50px);
}
30% {
  -webkit-transform:rotate(12deg) translate(-30px,0px);
  transform:rotate(12deg) translate(-30px,0px);
}
45% {
  opacity: 1;
}
60% {
  -webkit-transform:rotate(-12deg) translate(30px,-100px);
  transform:rotate(-12deg) translate(30px,-100px);
}
100% {
  opacity: 0;
  -webkit-transform:rotate(0deg) translate(0px,-200px);
  transform:rotate(0deg) translate(0px,-200px);
}
}

@-webkit-keyframes note-anim /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform: translate(0px,50px);
  transform: translate(0px,50px);
}
30% {
  -webkit-transform:rotate(12deg) translate(-30px,0px);
  transform:rotate(12deg) translate(-30px,0px);
}
45% {
  opacity: 1;
}
60% {
  -webkit-transform:rotate(-12deg) translate(30px,-100px);
  transform:rotate(-12deg) translate(30px,-100px);
}
100% {
  opacity: 0;
  -webkit-transform:rotate(0deg) translate(0px,-200px);
  transform:rotate(0deg) translate(0px,-200px);
}
}
@keyframes text-anim
{
0% {
  -webkit-transform: translate(0px,100px);
  transform: translate(0px,100px);
}
60% {
  -webkit-transform:translate(0px,-20px);
  transform:translate(0px,-20px);
}
80% {
  -webkit-transform:translate(0px,15px);
  transform:translate(0px,15px);
}
100% {
  -webkit-transform:translate(0px,0px);
  transform:translate(0px,0px);
}
}

@keyframes head_shake
{
0% {
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
100% {
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}
}

@-webkit-keyframes head_shake
{
0% {
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
100% {
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}
}

@keyframes eyebrow_raise
{
00% {
    top: 120px;
}
80% {
    top: 120px;
}
100% {
    top: 115px;
}
}

@-webkit-keyframes eyebrow_raise
{
00% {
    top: 120px;
}
80% {
    top: 120px;
}
100% {
    top: 115px;
}
}


